header{
	border-bottom: solid 1px rgb(119,119,119);
	padding-bottom: 50px ;
	margin-bottom: 50px;
}

header h1 {
	font-weight: normal;
	font-size: 2em;
	font-style: italic;
	font-family: Georgia, serif;
}
body { 
	line-height: 1.5;
	font-family: Georgia, serif;
	margin-top: 10px;
	margin: 30px auto auto auto;
	color: white;
	width: 800px;
	height:1024px;
	background-color: rgb(68,68,68);
	border: solid 5px rgb(119,119,119);
	padding: 50px;
	text-align: center;
}
main h2 {
	text-align: left;
	font-family: arial;
}
main p {
	padding: 5px;
	font-size: 1.19em;
	text-align: left;
	font-family: Georgia, serif;
    margin-top: 0;
    margin-bottom: 27px;
	line-height: 2;
}
img {
	width: 300px;
	height: auto;
	margin-left: 20px;
    margin-bottom: 20px;
	padding:5px;
	border: solid 1px rgb(119,119,119);
	float: right;
}
a {
	font-weight: bold;
	color: rgb(55, 180,132);
}
/* This almost slipped by me */
a.active {
	color: white;
	text-decoration: none;
}
/* lol try again */
footer {
	padding-top: 20px;
	border-top:solid 1px rgb(119,119,119);
	/*text-align: center;*/

}
/*  -- 戦い -- END -- */